<div class="blog-style mdl-layout mdl-js-layout">
  <main class="mdl-layout__content">
    <div class="blog-style__posts mdl-grid blog-height">
      <div class="posts-depart" style="width:100%">
      <%= render @posts %>
      </div>
      <div class="blog-footer blog-view-more mdl-card mdl-cell mdl-cell--12-col">
        <ul>
          <li><a href="javascript:void(0);" class="view-more">查看更多</a></li>
        </ul>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </main>
  <div class="mdl-layout__obfuscator"></div>
</div>
<div class="function-btn">
  <button id="toTop" class="mdl-button mdl-js-button mdl-button--fab toTop-btn">
    <i class="material-icons">keyboard_arrow_up</i>
  </button>
  <button id="home" data-turn="clear" class="mdl-button mdl-js-button mdl-button--fab home-btn">
    <i class="material-icons">reorder</i>
  </button>
  <button id="toBottom" class="mdl-button mdl-js-button mdl-button--fab toBottom-btn">
    <i class="material-icons">keyboard_arrow_down</i>
  </button>
</div>
<div class="fork" style="display:none;">
  <div id="count"><%= @posts.total_count / @posts.size %></div>
</div>