<% provide(:title, @user.name) %>
<div class="manager-style mdl-layout mdl-js-layout">
  <main class="mdl-layout__content">
  	<div class="manager-style__main mdl-grid">
  		<div class="mdl-cell mdl-cell--2-col manager-sidebar">
  			<nav class="sidebar mdl-navigation ">
  				<%= link_to "主 页", root_path %>
  				<a href="#" class="mdl-navigation__link">文章</a>
  				<a href="#" class="mdl-navigation__link">短讯</a>
  				<a href="#" class="mdl-navigation__link">退出</a>
  			</ul>
  		</div>
  		<div class="mdl-cell mdl-cell--10-col manager-content">

  		</div>
  	</div>
  </main>
</div>