<div class="mdl-card mdl-cell mdl-cell--12-col blog-main__post mdl-shadow--5dp">
  <div class="mdl-card__media blog-style-bg-1">
    <h3>
      <%= link_to post.title, post %>
    </h3>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <h5><%= post.user.name %></h5>
    <h5>发布于<%= l post.created_at, :format => '%F' %></h5>
    <h5>回复<%= post.replies.count %></h5>
  </div>
</div>
