<% provide(:title, @user.name + 'Article') %>
<div class="post-style mdl-layout mdl-js-layout">
	<main class="mdl-layout__content">
		<div class="post-style__main mdl-grid">
			<div class="mdl-cell mdl-cell--1-col"></div>
			<div class="mdl-cell mdl-cell--10-col mdl-card post-content">
				<button class="mdl-button mdl-js-button mdl-button--fab">
					<%= link_to content_tag(:i, "add",:class=>'material-icons mdl-color-text--white'), new_post_path, :class=>'post-add-icon' %>
				</button>
				<%= link_to "返回", @user %>
			</div>
		</div>
	</main>
</div>