<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You got a latest reply from <%= @user.name %>!</h1>
    <p><%= @reply.content %></p>
  </body>
</html>