.post-style{
	.mdl-layout__content{
		padding-top: 100px;
		padding-bottom: 100px;
		.post-style__main{
			max-width: 1010px;
			.post-content{
				overflow: inherit;
				a{
					color: cadetblue;
				}
				.create-post{
					position: absolute;
					top: -20px;
					left: -20px;
					background-color: #DEB887;
					z-index: 999;
					.post-add-icon{
						display: block;
						height: inherit;
						z-index: 999;
					}
				}
				table{
					table-layout: fixed;
					th{
						overflow: hidden;
						text-align: center;
					}
				}
			}
			.pagination{
				display: inline-block;
				float: left;
				color: rgb(255,64,129);
				.mdl-button{
					color: rgba(255,255,255,.55);
				}
			}
			.post-return-btn{
				margin-left: 10px;
				float: right;
			}
			.mdl-card__supporting-text{
				width: 97%;
				background-color: rgba(244,244,244,.7);
				i{
					color: cadetblue;
				}
				.info{
					float: left;
					span{
						display: block;
					}
				}
				.favorite, .markbook, .share{
					float: right;
					display: inline-block;
					margin-right: 10px;
					cursor: pointer;
				}
				h3{
					text-align: center;
					font-family: \6807\6977\4F53;
				}
				.content-text{
					display: flex;
					white-space: pre-line;
					margin: 80px;
					font-family: \7EC6\660E\4F53;
					font-size: 16px;
					font-weight: 100;
				}
				form{
					width: 440px;
					position: relative;
					margin: 0 auto;
					button{
						cursor: pointer;
						position: relative;
						top: -20px;
						background: none;
						border: none;
						i{
							text-shadow: none;
							transition: text-shadow .45s;
							-moz-transition: text-shadow .45s;
							-webkit-transition: text-shadow .45s;
							-o-transition: text-shadow .45s;
						}
					}
					button:hover{
						i{
							text-shadow: 3px 0px 6px #898989;
							transition: text-shadow .85s;
							-moz-transition: text-shadow .85s;
							-webkit-transition: text-shadow .85s;
							-o-transition: text-shadow .85s;
						}
					}
					.mdl-textfield{
						width: 400px;
						color: #888888;
						font-size: 14px;
					}
					.mdl-textfield__label:after{
						background-color: cadetblue;
					}
				}
				.post-comment{
					min-height: 20px;
					width: 100%;
					.user-comment{
						padding-bottom: 10px;
						border-top: 1px solid rgba(0,0,0,.1);
						.post-comment__header,.comment-reply__header{
							margin: 10px;
							padding: 20px;
							.face{
								border-radius: 50%;
								float: left;
								border: 3px solid rgba(255,255,255,.8);
							}
							.info{
								margin:10px 0 0 20px;
								float: left;
								p{
									margin: 0;
									padding: 0;
								}
							}
						}
						.post-comment__content,.comment-reply__content{
							margin: 10px;
							padding-top: 20px;
							p{
								margin: 10px;
								padding: 10px;
							}
						}
						.post-comment__tab{
							padding: 0 40px;
						}
						.post-comment__reply{
							padding: 10px 0 0 140px;
						}
					}
				}
			}
			.post-nav{
				margin-bottom: 100px;
				.post-nav__pre{
					float: left;
					color: #fff;
				}
				.post-nav__next{
					float: right;
					color: #fff;
				}
			}
			.post-article{
				form{
					background-color: #FFFAFA;
					min-height: 500px;
					position: relative;
					.article-textfield{
						display: block;
						width: 700px;
						margin: 0 auto;
						color: #000;
					}
					.article-btn{
						max-width: 300px;
						margin: 0 auto 20px;
						a{
							float: left;
						}
						.article-btn__create{
							float: right;
							width: 80px;
						}
					}
				}
			}
		}
	}
}
.blur-box{
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}
