
.blog-style{
	.mdl-layout__content{
		padding-top: 200px;
		padding-bottom: 100px;
	}
	.blog-style__posts{
		max-width: 900px;
		.blog-user__img{
			background-color: #CCFFCC;
			background-size: cover;
		}
		.blog-message__img{
			background-color: #CCFFCC;
			background-size: cover;
		}
		.blog-banner__title{
			background-color: rgba(0,0,0,.2);
			color: #CCFFCC;
			font-size: 16px;
		}
		.blog-message__title{
			background-color: rgba(204,255,204,.6);
		}
		.mdl-card{
			.mdl-card__media{
				padding: 20px;
				min-height: 200px;
				background-color: #CCFFCC;
			}
			.mdl-card__supporting-text{
				min-height: 62px;
				width: 100%;
			}
		}
	}
}