.user-style{
	.mdl-layout__content{
		padding-top: 200px;
		padding-bottom: 100px;
		.user-style__signup{
			max-width: 900px;
			.user-signup__form{
				padding: 20px;
				background-color: #FFFAFA;
				text-align: center;
				h3{
					letter-spacing: 20px;
					font-weight: 100;
					font-family: \6807\6977\4F53;
				}
				.new_user{
					display: flex;
					display: -webkit-flex;
					-webkit-flex-direction: column;
					-ms-flex-direction: column;
	    		flex-direction: column;
	    		align-items: center;
	    		-webkit-align-items: center;
	    		-ms-align-items: center;
	    		.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label{
	    			color: #A5AAB9;
	    			font-weight: 100;
	    			font-size: 11px;
	    		}
					.mdl-textfield{
						.mdl-textfield__label:after{
							background-color: #CED8F6;
						}
					}
					.mdl-button{
						background-color: #CED8F6;
					}
				}
			}
		}
	}
}
.manager-style{
	.mdl-layout__content{
		padding-top: 100px;
		.manager-style__main{
			max-width: 1010px;
			.manager-sidebar{
				background: #FFFAFA;
				.sidebar{
					-webkit-flex-direction: column;
					-ms-flex-direction: column;
	    		flex-direction: column;
	    		width: 100%;
	    		span{
	    			margin: 10px;
						padding: 15px 0 15px;
						display: block;
						text-align: center;
						a{
							padding: 0 15px;
							letter-spacing: 10px;
							text-decoration: none;
							color: #000;
							font-size: 16px;
							font-weight: 100;
							font-family: \7EC6\660E\4F53;
						}
						a:after{
							letter-spacing: normal;
							background-color: cadetblue;
						}
	    		}
				}
			}
			.manager-content{
				display: flex;
				display: -webkit-flex;
				flex-direction: column;
				align-items: center;
				.mdl-card__supporting-text{
					display: flex;
					display: -webkit-flex;
					flex-direction: row;
					align-items: flex-start;
					flex-basis: auto;
					.edit_user{
						display: flex;
						display: -webkit-flex;
						flex-direction: column;
						align-items: flex-end;
						flex-basis: 100%;
						flex-wrap: wrap;
						.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label{
		    			color: #A5AAB9;
		    			font-weight: 100;
		    			font-size: 11px;
		    		}
						.mdl-textfield{
							.mdl-textfield__label:after{
								background-color: #CED8F6;
							}
						}
						.mdl-button{
							background-color: #CED8F6;
							color: #fff;
						}
					}
				}
				#article-icon{
					color: cadetblue;
				}
				.mdl-card__actions{
					.posts{
						li{
							margin: 10px 0px;
							span{
								margin: 0px 20px;
								a{
									color: cadetblue;
								}
							}
						}
					}
				}
			}
		}
	}
}