
.user-style{
	.mdl-layout__content{
		padding-top: 200px;
		padding-bottom: 100px;
		.user-style__signup{
			max-width: 900px;
			.user-signup__form{
				padding: 20px;
				background-color: #FFFAFA;
				text-align: center;
				.mdl-textfield{
					display: block;
				}
			}
		}
	}
}
.manager-style{
	.mdl-layout__content{
		padding-top: 100px;
		.manager-style__main{
			max-width: 1010px;
			.manager-sidebar{
				background: #FFFAFA;
				.sidebar{
					list-style: none;
					-webkit-flex-direction: column;
					-ms-flex-direction: column;
	    		flex-direction: column;
	    		span{
	    			margin: 10px;
						padding: 15px 30px;
						display: block;
						a{
							text-align: center;
							padding: 0 15px;
							word-spacing: 10px;
							text-decoration: none;
						}
	    		}
				}
			}
			.manager-content{
				background: #FFFAFA;
			}
		}
	}
}